#course_name{
  margin-bottom: 10px;
}

#header{
  background-color: #fff;
  margin-bottom: 20px;
}

#newSigSubmit{
	margin-top: 10px;
}

body{
  background-color: #f3f3f1;
  font-family: "Open Sans";
}

label{
	font-family: "Open Sans";
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout-success {
	border-left-color: #5cb85c;
}

.bs-callout-success h4 {
	color: #5cb85c;
}

.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}